body{
    padding: 0;
    margin: 0%;
    height: 100vh;
    background-image: linear-gradient(25deg, #121212, #686e69, #000000, #6a6a6a);
    background-size: cover;
    background-repeat: no-repeat;
    
}
